<header>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Recipes</h1>
  </div>
</header>
<main>
  <!-- add a search box -->
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <%= form_for :search, url: recipes_path, method: :get do |f| %>
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label for="q" class="block text-sm font-medium leading-6 text-gray-900">Search Recipes</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="q" id="q" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" value="<%= params[:q] %>" placeholder="spaghetti">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <ul role="list" class="divide-y divide-gray-100">
      <% @recipes.each do |recipe| %>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              <%= link_to recipe.name, recipe, class: "hover:underline" %>
            </p>
            <p class="mt-1 flex text-xs leading-5 text-gray-500">
              <%= recipe.description.try(:truncate, 128) %>
            </p>
          </div>
        </div>
        <div class="flex shrink-0 items-center gap-x-6">
          <div class="hidden sm:flex sm:flex-col sm:items-end">
            <p class="mt-1 text-xs leading-5 text-gray-500">Created <time datetime="<%= recipe.created_at.to_json %>"><%= time_ago_in_words(recipe.created_at) %> ago</time></p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</main>
